# üìä ÎπÑÎßå ÏòàÏ∏°Ïö© Îç∞Ïù¥ÌÑ∞ Ï†ÑÏ≤òÎ¶¨

In [1]:
# 1Ô∏è‚É£ Îç∞Ïù¥ÌÑ∞ Î°úÎìú
import pandas as pd
from sklearn.impute import SimpleImputer
import numpy as np

df = pd.read_csv('ÏõêÏãúÎç∞Ïù¥ÌÑ∞.csv')  # ÌååÏùº Í≤ΩÎ°úÎäî Ïã§Ìñâ ÌôòÍ≤ΩÏóê ÎßûÍ≤å Ï°∞Ï†ïÌïòÏÑ∏Ïöî

In [2]:
# 2Ô∏è‚É£ ÏÇ¨Ïö©Ìï† ÌîºÏ≤ò Î∞è ÌÉÄÍ≤ü Ï†ïÏùò
HE_obe_input_features = [
    'HE_sbp1', 'HE_dbp1', 'HE_wc', 'HE_glu',
    'HE_chol', 'HE_HDL_st2', 'HE_LDL_drct', 'HE_crea',
    'HE_ast', 'HE_alt', 'HE_wt', 'HE_ht', 'HE_BMI', "BD1_11", "BE5_1", "L_OUT_FQ", "LS_VEG1"
]
target = 'HE_obe'
data = df[[col for col in HE_obe_input_features + [target] if col in df.columns]].copy()

In [3]:
# 3Ô∏è‚É£ EDA ÏöîÏïΩ (Í≤∞Ï∏°Ïπò, ÌÜµÍ≥ÑÍ∞í, Ïù¥ÏÉÅÏπò)
eda = pd.DataFrame(index=data.columns)
eda['Í≤∞Ï∏°Ïπò ÎπÑÏú® (%)'] = data.isnull().mean() * 100
eda['Í≥†Ïú†Í∞í Í∞úÏàò'] = data.nunique()
eda['ÏµúÏÜåÍ∞í'] = data.min(numeric_only=True)
eda['ÏµúÎåÄÍ∞í'] = data.max(numeric_only=True)
eda['ÌèâÍ∑†'] = data.mean(numeric_only=True)
eda['ÌëúÏ§ÄÌé∏Ï∞®'] = data.std(numeric_only=True)

def detect_outliers(series):
    if series.dtype.kind in 'biufc':
        q1 = series.quantile(0.25)
        q3 = series.quantile(0.75)
        iqr = q3 - q1
        lower = q1 - 1.5 * iqr
        upper = q3 + 1.5 * iqr
        return ((series < lower) | (series > upper)).sum()
    else:
        return np.nan

eda['Ïù¥ÏÉÅÏπò Ïàò'] = data.apply(detect_outliers)
eda

,Í≤∞Ï∏°Ïπò ÎπÑÏú® (%),Í≥†Ïú†Í∞í Í∞úÏàò,ÏµúÏÜåÍ∞í,ÏµúÎåÄÍ∞í,ÌèâÍ∑†,ÌëúÏ§ÄÌé∏Ï∞®,Ïù¥ÏÉÅÏπò Ïàò
HE_sbp1,4.834752,115,79.000000,243.00000,120.435244,16.832707,134
HE_dbp1,4.834752,81,31.000000,152.00000,73.892175,10.450060,64
HE_wc,6.047049,645,43.400000,132.00000,81.922704,12.286913,51
HE_glu,10.751912,171,60.000000,398.00000,100.361255,23.161769,488
HE_chol,10.751912,242,70.000000,456.00000,182.477684,39.901996,49
HE_HDL_st2,10.751912,103,6.000000,135.00000,56.995634,15.337820,88
HE_LDL_drct,10.751912,207,10.000000,337.00000,110.370472,36.039976,33
HE_crea,10.751912,151,0.330000,10.19000,0.788436,0.266071,106
HE_ast,10.751912,99,9.000000,722.00000,22.869017,16.743954,340
HE_alt,10.925097,126,5.000000,861.00000,21.671257,22.445837,419
HE_wt,0.750469,892,8.500000,141.80000,60.747506,16.718564,378
HE_ht,1.645259,788,74.700000,193.00000,159.761511,15.878682,374
HE_BMI,1.674123,6629,11.894753,44.33913,23.258359,4.169379,98
BD1_11,0.014432,8,1.000000,9.00000,4.370958,2.564165,0
BE5_1,0.014432,8,1.000000,9.00000,3.030023,2.854737,0
L_OUT_FQ,1.905037,7,1.000000,7.00000,4.105046,1.689257,0
LS_VEG1,1.905037,9,1.000000,9.00000,1.737973,0.798425,147
HE_obe,16.582479,6,1.000000,6.00000,2.965225,1.071263,0

In [4]:
# 4Ô∏è‚É£ Í≤∞Ï∏°Ïπò ÌèâÍ∑†Í∞í ÎåÄÏ≤¥
imputer = SimpleImputer(strategy='mean')
data_imputed = pd.DataFrame(imputer.fit_transform(data), columns=data.columns)

In [5]:
# 5Ô∏è‚É£ Ïù¥ÏÉÅÏπò IQR Í∏∞Ï§Ä ÌÅ¥Î¶¨Ìïë
for col in data_imputed.columns:
    if data_imputed[col].dtype.kind in 'biufc':
        q1 = data_imputed[col].quantile(0.25)
        q3 = data_imputed[col].quantile(0.75)
        iqr = q3 - q1
        lower = q1 - 1.5 * iqr
        upper = q3 + 1.5 * iqr
        data_imputed[col] = data_imputed[col].clip(lower, upper)

In [6]:
# 6Ô∏è‚É£ X / y Î∂ÑÎ¶¨ Î∞è Ï†ÄÏû•
X = data_imputed.drop(columns=target)
y = data_imputed[target]
final_df = pd.concat([X, y], axis=1)
final_df.to_csv('ÎπÑÎßå_ÏòàÏ∏°Ïö©_Ï†ïÏ†úÎç∞Ïù¥ÌÑ∞.csv', index=False)
final_df.head()

,HE_sbp1,HE_dbp1,HE_wc,HE_glu,HE_chol,HE_HDL_st2,HE_LDL_drct,HE_crea,HE_ast,HE_alt,HE_wt,HE_ht,HE_BMI,BD1_11,BE5_1,L_OUT_FQ,LS_VEG1,HE_obe
0,144.0,86.0,90.2,120.000000,166.000000,38.000000,101.000000,0.780000,34.500000,29.000000,58.9,159.8,23.065440,8.0,6.0,3.0,1.0,3.000000
1,125.0,76.0,65.2,105.000000,218.000000,67.000000,139.000000,0.630000,18.000000,17.000000,41.8,151.2,18.284063,8.0,1.0,5.0,2.0,1.000000
2,102.0,57.0,71.8,102.000000,196.000000,87.000000,105.000000,0.810000,19.000000,11.000000,53.5,156.7,21.787921,5.0,1.0,5.0,3.0,2.000000
3,108.0,58.0,59.6,100.361255,182.477684,56.995634,110.370472,0.788436,22.869017,21.671257,35.8,142.0,17.754414,8.0,8.0,3.0,2.0,2.965225
4,131.0,93.0,86.9,101.000000,176.000000,40.000000,116.000000,1.190000,28.000000,38.000000,79.8,185.0,23.316289,4.0,1.0,4.0,2.0,3.000000